<%layout("/layouts/boilerplate")%>

    
    <div class="row offset-2 mt-3">
        <div class="col-8">

            
            <h3> Edit your Listing </h3>
            <form method="POST" action="/listings/<%=list._id%>/edit?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                
                <div class="mb-3 mt-3">
                    <label class="form-label" for="title">Title</label>
                    <input name="listing[title]" value="<%=list.title%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Title should be valid</div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea name="listing[description]"  rows="10" cols="50" type="text" class="form-control" required><%=list.description%></textarea>
                    <div class="invalid-feedback">description in short passage</div>
                </div>
                
                <div class="mb-3">
                    Original Listing Image <br/>
                    <img  src="<%= originalImageUrl%>">
                </div>

                <div class="mb-3">
                    <label class="form-label" for="url">Upload New Image </label>
                    <input name="listing[image][url]" value="<%=list.image.url%>" type="file" class="form-control">
                </div>
                
                <div class="row">
                    <div class="mb-3c col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input name="listing[price]" value="<%=list.price%>" type="number" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="country">Country</label>
                        <input name="listing[country]" value="<%=list.country%>" type="text" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input name="listing[location]" value="<%=list.location%>" type="text" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>
                
            
                <button class="btn btn-dark edit-btn mb-3">Edit</button>

            </form>
        
        </div>
    </div>
